@model int
<div class="row">
    <div class="col-6">
        <a asp-action="Edit" class="btn btn-success form-control" asp-route-id="@Model">Go Edit</a>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-info form-control">Back To List</a>
    </div>
</div>